// IMPORTAMOS MÓDULOS
@import "partials/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot";

// Custom SASS
// HEADER ITEMS
.btn-primary {
  background-color: $primary-btn;
  border-color: $primary-btn;
}

.btn-primary:hover {
  background-color: $primary;
}

.navbar .btn-primary:hover {
  background-color: beige;
  border-color: beige;
  color: $primary;
}

.navbar {
  width: 100vw;
  background-color: $primary;
}

.navbar-light .nav-item .nav-link {
  color: $nav-link-color;
}

.nav-link:hover {
  color: $nav-link-color-hover;
}

.navbar-light .nav-link .disabled {
  color: $disabled-link;
}

.dropdown-item {
  color: $primary;
}

// TABLE
thead {
  background-color: $thead-bg;
  color: $tbody-bg;
}

tbody {
  background-color: $tbody-bg;
  color: $thead-bg;
  border-color: $tbody-bg;
}

// BUTTONS
.btn-secondary {
  background-color: $btn-secondary;
  border-color: $btn-secondary;
  color: $btn-secondary-text;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background-color: $btn-secondary-hover;
  border-color: $btn-secondary-hover;
  color: $btn-secondary-text-hover;
}

// PAGINATION
.pagination {
  color: $primary;
}
