// ROOT
$primary: #e22d3f;
$secondary: green;
// BUTTONS
$primary-btn: #0098ad;
$btn-secondary: #606a71;
$btn-secondary-hover: $primary;
$btn-secondary-text: $primary;
$btn-secondary-text-hover: $btn-secondary;
// LINKS
$nav-link-color: beige;
$nav-link-color-hover: #000;
$disabled-link: lightgray;
// TABLE
$thead-bg: #e5e9ec;
$tbody-bg: #2d3338;
